input,
textarea,
button {
    background: transparent;
    color: var(--cor-menu);
    padding: 10px;
    border: 1px solid var(--cor-menu);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    /* nem sempre os elementos filhos herdam as propriedades dos pais*/
    /* no caso a fonte NÃO é herdada nos inputs/textareas */
    font-family: Poppins;
    outline: none;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus{
    background: var(--cor-menu);
    color: var(--azul-escuro);
}

textarea {
    height: 100px;
    resize: none;
}

button[type=submit] {
    width: auto;
    float: right;
}

iframe {
    border: none;
    width: 100%;
    height: 290px;
    border-radius: 10px;
}
#erro {
    float: left;
}